apache-airflow==2.*
duckdb
# As of Airflow 2.10.5, it isn't compatible with Flask 3, so be flexible.
Flask>=2.0,<4
functions-framework==3.*
isort
jupyter==1.*
linkchecker
# without this, get an error of "module 'numpy' has no attribute '_no_nep50_warning'"
# https://github.com/ydataai/ydata-profiling/pull/1682
numpy<=2.3
pandas==2.*
pandas-gbq
pytest
pytest-cov
ruff
streamlit==1.*
ydata-profiling
