duckdb
Flask==3.*
functions-framework==3.*
google-cloud-bigquery
jupyter==1.*
linkchecker
matplotlib
numpy
pandas
pandas-gbq
pandas-stubs
pandera[pandas]
plotly
# https://github.com/advanced-computing/course-materials/security/dependabot/9
pyasn1 >= 0.6.3
pytest
pytest-cov
ruff
streamlit==1.*
yfinance
