duckdb
Flask==3.*
functions-framework==3.*
isort
jupyter==1.*
linkchecker
pandas-gbq
pytest
pytest-cov
ruff
streamlit==1.*
# waiting on
# https://github.com/ydataai/ydata-profiling/pull/1804
# ydata-profiling
